.container__big-card {
  border: solid black 0.04em; /* 2px convertido para em */
  margin-left: 1.6em; /* 20px convertido para em */
  margin-right: 1.6em; /* 20px convertido para em */
  height: 31.25em; /* 500px convertido para em */
  width: 50vw; /* 600px convertido para em */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1 {
  font-size: 1.25em; /* 20px convertido para em */
  margin-top: 0.9375em; /* 15px convertido para em */
  margin-bottom: 0.005em; /* 15px convertido para em */
  padding: 1em;
}

.big-card__description > p  {
  color: rgb(0, 0, 0);
  padding: 1em;
}

.big-card__photo >  img {
  height: auto;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
}

/* .big-card__title > h1 > a {
  text-decoration: none;
} */


