.container__small-card {
  border: 0px solid black;
  width: 39em;
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 0.8em;

}

.container__small-card__content {
  display: flex;
  flex-direction: row;

}

.small-card__photo > img {

  width: 13em;
  min-width: 13em;

  margin-right: 1.6em;
}

.small-card__title   {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;

}

.container__small-card__separator {
  margin-top: 0.8em;
}
